<section>
  <nav class="same-line">
    <h2 class="page-title">Create publication</h2>
    <div>
      <button type="button" class="button" (click)="onCancel()">Cancel</button>
    </div>
  </nav>
  <div>
    <form [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" required formControlName="title"/>
      </div>
      <div>
        <label for="publication">Publication</label>
        <textarea id="publication" required formControlName="publication">

        </textarea>
      </div>
      <div>
        <button type="submit" class="button" [disabled]="!publicationForm.valid">Submit</button>
      </div>
    </form>
  </div>
</section>
