<div class="publication-item">
  <div class="avatar">
    <img src="assets/images/avatar.svg" alt="avatar"/>
  </div>
  <div class="body">
    <div class="top">
      <div class="content">
        <div class="title">{{ publication.title }}</div>
        <div class="publication" [class.open]="open" (click)="toggle()">{{ publication.publication }}</div>
      </div>
      <div class="comments">
        <div class="message-circle">
          <img src="assets/images/icon-comment.svg" alt="comment-icon" />
        </div>
        <div class="text">72</div>
      </div>
    </div>
    <div class="bottom">
      <div class="thumbs">
        <div class="up"><img src="assets/images/thumb-up.svg" alt="thumb-up" /></div>
        <div class="down"><img src="assets/images/thumb-down.svg" alt="thumb-down"/></div>
      </div>
      <div class="caption">Pregunta juliaraujo en <span class="author">Matemáticas 6º</span></div>
      <div class="share-star">
        <div class="share">
          <img src="assets/images/share.svg" alt="share" />
        </div>
        <div class="star">
          <img src="assets/images/star.svg" alt="star" />
        </div>
      </div>
    </div>
  </div>
</div>