/* You can add global styles to this file, and also import other style files */
html, body, app-root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F2F8;
}

main {
  width: 50%;
  margin: auto;
  display: block;
}

nav {
  margin-bottom: 3em;
}

header nav {
  padding: 8px 16px;
}

.same-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #333333;
}

.publications article nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 0px;
  padding: 0 8px;
}

.publications article nav > * {
  padding: 8px 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: bolder;
  font-size: 15px;
  line-height: 16px;
  
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.02em;

  color: #DBDBDB;
  cursor: pointer;
}

.publications article nav div.active {
  border-bottom: 2px solid #3843D0;
  color: #3843D0;
}

.publication-item {
  border-bottom: 1px solid #DBDBDB;
  padding: 24px 16px 16px 8px;

  display: flex;
  flex-direction: row;
}

.publication-item div.body {
  flex-grow: 1;
  overflow: hidden;
}

div.body div.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.body div.top div.content {
  flex-grow: 1;
  overflow: hidden;
}

div.body div.top div.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

div.comments div.message-circle {
  padding: 3px;
}

div.comments div.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  color: #9A9CB5;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}

div.publication-item div.body div.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 16px;
}

div.publication-item div.body div.caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  
  color: #828282;
}

span.author {
  font-weight: bold;
  color: #3843D0;
}

div.bottom div.thumbs, div.bottom div.share-star {
  display: flex;
  flex-direction: row;
}

div.star, div.thumbs div.up, div.thumbs div.down {
  padding: 2px;
}

div.thumbs div.up {
  margin-right: 18px;
}

div.share {
  margin-right: 26px;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;

  color: #4F4F4F;
}

.publication {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  color: #828282;
  opacity: 0.7;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  max-width: 600px;
  margin-right: 1em;
}

.publication.open {
  white-space: normal;
  max-width: 700px;
  text-align: justify;
}

.avatar {
  box-sizing: border-box;
  background: #3843D0;
  height: 56px;
  border-radius: 50%;
  width: 56px;
  padding: 10.17px 6px 0px 6px;
  margin-right: 32px;
}

a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;

  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 24px;

  background: #3843D0;
  border: 3px solid #212B80;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #212B80;
  border-radius: 10px;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  cursor: pointer;
}

.button.cancel {
  color: #3843D0;
  background-color: #FFFFFF;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  
  color: #565656;

  margin-bottom: 8px;
}

form input, form textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 48px 15px 16px;

  background: #FFFFFF;
  border: 2px solid rgba(38, 38, 38, 0.25);
  box-sizing: border-box;
  border-radius: 12px;

  margin-bottom: 32px;
}

form div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}