<section>
  <nav class="same-line">
    <h2 class="page-title">Publications</h2>
    <div>
      <a routerLink="/add" class="button">Create Publication</a>
    </div>
  </nav>
  <article>
    <app-publication-item *ngFor="let pub of publications" [publication]="pub"></app-publication-item>
    <!-- <div class="publication-item" *ngFor="let pub of publications">
      <div class="title">{{ pub.title }}</div>
      <div class="publication">{{ pub.publication }}</div>
    </div> -->
  </article>
</section>
